*, *::after, *::before {
    box-sizing:border-box;
}

body {
    font-family: Bebas Neue;
    background-color: rgba(100,100,100,1);
    margin: 0;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.toolbar {
    margin:0
}


.node {
    float:left;
    width: 100px;
    position:relative;
    margin-right: 3px;
    margin-left: 10px;
}

.node-index {
    text-align: center;
}

.node-body {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom left,rgba(186,85,211,1),rgba(147,112,219,1));
    border: 1px solid rgb(252, 192, 255);
}

.node-value-text {
    text-align:center;
}

.node-next-text {
    text-align: center;
}

.arrow {
    float:left;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 5px;
    transform: rotate(-45deg);
    position:relative;
    top:65px;
}

