*, *::after, *::before {
    box-sizing:border-box;
}

body {
    font-family: 'Bebas Neue';
    background-color: rgba(180, 186, 212, 1);
    margin: 20px;
}

h1 {
    font-size: 75px;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 35px;
    margin: 0 0 0 15px;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:0;
    align-items: center;
    height: 300px;
}

#input-div {
    display: flex;
}

#method-selector-div {
margin-bottom: 10px;
}

#method {
    border: 2px solid black;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(235, 230, 229, 1);
    font-family: inherit;
    font-size: 25px;
}

#input-node-value, #input-node-index {
    margin: 2px;
    height: 50px;
    width: 45vw;
    border-radius: 5px;
    border: 2px solid black;
    font: 30px 'Bebas Neue';
    background-color: rgba(235, 230, 229, 1);
}

.apply-button {
    height: 50px;
    width: 250px;
    border-radius:50px;
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin: 20px 0;
    background-color: rgba(235, 230, 229, 1);
}





#linked-list {
    display:flex;
    flex-wrap: wrap;
}


.node {
    width: 100px;
    position:relative;
    margin-right: 3px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-index {
    font-size: 20px;
}

.node-body {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom left,rgba(223,216,220,1),rgba(212,207,189,1));
    border: 1px solid black;
}

.node-value-text , .node-next-text {
    font-size:18px;
    text-align: center;
}

.arrow {
    width:0;
    height:0;
    border-top: 5px solid transparent;
    border-left: 10px solid black;
    border-bottom: 5px solid transparent;
    margin: 65px 5px 0 10px;
}



